main {
  width: 95%;
  display: flex;
}

.wrapper{
  width: 125%;
}

header {
  width: 100%;
  
}

.header-box {
  background-color: #ffffff;
  padding-top: 10px;
  width: 100%;
}

.header-info {
  margin: 0px 223px;
  text-align: center;
  padding: 50px 0px;
}

.tn-logo-size {
  width: 300px;
  height: 40px;
  font-size: 240%;
}

.header-fontstyle {
  color: #9acc1e;
}

.font-size {
  font-size: 39px;
  text-decoration: none;
}

.main-box {
  margin: 0 0 0 30px;
  padding: 0 10px;
}

.main-container {
  width: 98%;
  height: 2225px;
  margin: 10px 10px;
  display: flex;
}

.menu-list {
  list-style-type: none;
  margin: 0 auto;
  display: table;
}

.menu-item {
  position: relative;
  line-height: 1.6rem;
  display: inline-block;
  text-align: center;
  padding: 12px 25px;
  font-weight: 400;
}

.list-box {
  width: 48%;
  margin: 0px 20px 20px 0px;
  float: left;
}

.list-box2 {
  width: 48%;
  margin: 0px 0px;
}

.list-inner {
  border-radius: 3px;
  margin: 0px 20px 20px 0px;
}

.list-item {
  height: 368px;
  width: 367px;
  margin: 10px 0px 0px 0px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 3px;
}

.list-image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.dayly {
  font-size: 0.75rem;
  font-weight: 400;
  bottom: 5px;
  color: #888;
  width: 90%;
  text-align: right;
  padding: 0px 0px;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 3px;
}

.icon {
  top: 11px;
  left: 11px;
  font-size: 0.55rem;
  padding: 5px 10px;
  margin: 0px 0px;
  font-weight: 400;
  background-color: #9acc1e;
  color: white;
  border-radius: 3px;
  position: absolute;
  width: 66px;
  Z-index: 1;
}

.list-message {
  padding: 10px 17px 25px 17px;
  line-height: 1.3rem;
  font-weight: 400;
}

.h3 {
  font-size: 14px;
  font-weight: 400;
}

.page-top {
  display: block;
  width: 70%;
  margin: 0px 0px;
  padding-top: 20px;
  padding-left: 100px;
}

.page-top-current {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 30px 0px;
  text-align: center;
}

.current1 {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0px 4px;
  position: relative;
  background-color: #0d0015;
  color: #ffffff;
  text-align: center;
  align-items: center;
}

.current2 {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0px 4px;
  position: relative;
  color: #aaa;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  align-items: center;
  font-size: 100%;
}

.math {
  display: inline-block;
  bottom: 5px;
  padding: 8px 0px 0px 0px;
}

.page_top {
  left: 1150px;
  bottom: 25px;
  position: fixed;
  text-align: center;
  height: 45px;
  width: 45px;
  box-sizing: border-box;
}

footer {
  height: 600px;
  width: 100%;
  background-color: #393542;
  padding-top: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  letter-spacing: 1px;
}

.footer_wedget_area {
  height: 600px;
}

.footer_wedget_box {
  border-bottom: 1px solid #ddd;
  padding: 0px 30px;
  margin: 0px 20px 10px 20px;
}

.footer_wedget_left {
  height: 550px;
  width: 313px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer_wedget_left_text {
  margin-bottom: 45px;
}

.footer_wedget_left_img {
  width: 120px;
  height: 59px;
}

.footer_wedget_left_text_p1 {
  text-align: center;
}

.footer_wedget_left_text_p2 {
  text-align: left;
  color: #fff;
  font-size: 0.85rem;
  margin: 20px 0px;
}

.footer_wedget_left_text_p3 {
  text-align: left;
  color: #fff;
  font-size: 0.85rem;
  margin: 20px 0px;
}

.footer_wedget_left-link {
  width: 290px;
  height: 46px;
}

.footer_wedget_left-link-a {
  display: block;
  background: #e22255;
  color: #fff;
  padding: 10px 25px;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  width: 205px;
  font-size: 13px;
}

.footer_wedget_left_tag_box {
  color: #fff;
  border-color: #9acc1e;
  border-left: 3px solid #9acc1e;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 0.95rem;
  line-height: 1.15rem;
  margin-top: 90px;
  margin-bottom: 15px;
}

.footer_wedget_left_tag_top {}

.footer_wedget_left_tag_area {
  width: 315px;
  height: 90px;
}

.footer_wedget_left_tag_area a {
  float: left;
}

.tag_link_footer {
  float: left;
  max-width: 100%;
  padding: 4px 8px;
  margin-bottom: 4px;
  margin-right: 1px;
  color: #fff;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.55rem;
}

.footer_wedget_box {
  display: flex;
}

.footer_wedget_center1 {
  height: 500px;
  width: 35%;
  margin-left: 45px;
  float: left;
}

.footer_wedget_center2 {
  height: 500px;
  width: 35%;
  margin-left: 45px;
  float: left;
}

.footer_wedget_center_box {
  padding: 25px;
}

.footer_wedget_center_category {
  color: #fff;
  border-color: #9acc1e;
  border-left: 3px solid #9acc1e;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 0.95rem;
  line-height: 1.15rem;
}

.footer_wedget_center_list {
  padding: 0px 0px;
}

.footer_wedget_center_item {
  display: list-item;
  list-style: none;
  color: #fff;
  font-size: 11px;
  line-height: 30px;
}

.footer_wedget_right {
  padding-top: 22px;
  margin-left: 45px;
  width: 320px;
}

.footer_wedget_right_box {

}


.footer_wedget_right_category {
  color: #fff;
  border-color: #9acc1e;
  border-left: 3px solid #9acc1e;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 0.95rem;
  line-height: 1.15rem;
}

.footer_wedget_right_entry_box {
  margin-top: 10px;
}

.footer_wedget_right_item {
  position: relative;
  height: 73px;
  width: 130px;
  float: left;
}

.footer_wedget_right_item_img {
  position: relative;
  height: 73px;
  width: 130px;
  float: left;
}

.footer_wedget_right_pop {
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 10px;
  color: #fff;
  background: #9acc1e;
  text-align: center;
  line-height: 0;
  font-size: 0.75rem;
  padding-top: 10px;
  letter-spacing: 0;
}

.footer_wedget_right_entry_list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer_wedget_right_entry_list_tag {
 width: 395px;
 height: 95px;
}

.footer_wedget_right_item_text {
  position: relative;
  height: 55px;
  width: 300px;
  margin: 0px;
  padding-left: 50px;
}

.footer_wedget_right_item_text_h {
  color: #fff;
  font-size: 11.5px;
  line-height: 1.15rem;
  margin: 0;
  padding-left: 100px;
}

.footer_inner {
  height: 20px;
  padding: 10 0 0 0;
  margin: 0 20;
  text-align: center;
  font-size: 0.7rem;
}

.footer_inner_copyright {
  color: #fff;
}

.totop {
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 0;
  border-radius: 30px;
  background-color: #393542;
  height: 45px;
  font-size:15px;
}

.totop i {
  text-align: center;
  line-height: center;
  padding-top: 5px; 
}