
main{
 width: 95%;
 display: flex;
}

.header-box{
  background-color: #ffffff;
  padding-top: 10px;
}

.header-info{
  margin: 0px 223px;
  text-align: center;
  padding: 50px 0px;
}

.tn-logo-size{
  width: 300px;
  height: 40px;
  font-size: 240%;
}

.header-fontstyle{
 color: #9acc1e;
}

.font-size{
  font-size: 39px;
  text-decoration: none;
}


.main-box{
  margin: 0 0 0 30px;
  padding: 0 10px;
}

.main-container{
  width: 98%;
  height: 2225px;
  margin: 10px 10px;
  display: flex;
}

.menu-list{
  list-style-type: none;
  margin: 0 auto;
  display: table;
}

.menu-item{
  position: relative;
  line-height: 1.6rem;
  display: inline-block;
  text-align: center;
  padding: 12px  25px;
  font-weight: 400;
}



.list-box{
  width: 48%;
  margin: 0px 14px 20px 0px;
  float: left;
}

.list-box2{
  width: 48%;
  margin: 0px 0px;
}

.list-inner{
  border-radius: 3px;
  margin: 0px 20px 20px 0px;
}

.list-item{
  height: 368px;
  width: 367px;
  margin: 10px 0px 0px 0px ;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius:3px;
}

.list-image{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.dayly{
  font-size: 0.75rem;
  font-weight: 400;
  bottom: 5px;
  color: #888 ;
  width: 90%;
  text-align: right;
  padding: 0px 0px;
}

.image{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 3px;
}

.icon{
  top: 11px;
  left: 11px;
  font-size: 0.55rem;
  padding: 5px 10px ;
  margin: 0px 0px;
  font-weight: 400;
  background-color: #9acc1e;
  color: white;
  border-radius: 3px;
  position: absolute;
  width: 66px;
  Z-index: 1;
} 

.list-message{
 padding: 10px 17px 25px 17px;
 line-height: 1.3rem;
 font-weight: 400;
}

.h3{
  font-size: 14px;
  font-weight: 400;
}

.page-top{
  display: block;
  width: 70%;
  margin: 0px 0px; 
}

.page-top-current{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 30px 0px;
  text-align: center;
}

.current1{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0px 4px;
  position: relative;
  background-color: #0d0015;
  color: #ffffff;
  text-align: center;
  align-items: center;
}

.current2{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0px 4px;
  position: relative;
  color: #aaa;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  align-items: center;
  font-size: 100%;
}

.math{
  display: inline-block;
  bottom: 5px;
  padding: 8px 0px 0px 0px;
}

