.side-box {
  margin: 20px 0px 0px 0px;
}

.side-bar {
  width: 100%;
}

.download {
  width: 290px;
  height: 480px;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border-radius: 3px;
}

.download-box {
  width: 290px;
  height: 420px;
}

.download-title {
  color: #ffffff;
  background-color: black;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 10px;
  width: 270px;
  height: 28px;
  text-align: center;
}

.download-p {
  display: block;
  width: 200px;
  height: 300px;
  margin: 10px 20px;
  text-align: center;
}

.download-img {
  width: 250px;
  height: 185px;
  text-align: center;
}

.download-pp {
  width: 250px;
  height: 80px;
  font-size: 13px;
}

.download-link {
  width: 290px;
  height: 46px;
}

.download-link-a {
  display: block;
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
  border: 3px double #fff;
  font-size: 0.85rem;
  background-color: #e22225;
  color: #fff;
  width: 205px;
}

.profile {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  padding: 30px 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 0.95rem;
  height: 475px;
}

.profile-box {
  display: block;
  text-align: center;
  width: 90%;
  height: 360px;
  padding: 0px 5px 250px 5px;
  margin: 0px 10px;
}

.tub {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
  background: #fff;
}

.myname {
  position: relative;
  left: 0;
  right: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  width: 100%;
  text-align: center
}

.myjob {
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.35);
}

.myintro-p {
  text-align: left;
  margin-top: 40px;
  font-size: 0.85rem;
}

.profile-link a {
  display: block;
  text-align: center;
  padding: 7px 10px;
  background: #aaa;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  border: 3px double #fff;
  font-size: 0.65rem;
  color: #fff;
}

/* CSS横幅未調整 */

.profile-sns-manu {
  width: 350px;
  height: 60px;
  position: relative;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  background: #2b2b2b;
  padding: 15px 0;
  background-color: #9acc1e;
}

.profile-sns-menu-title {
  text-align: center;
  width: 100%;
  font-size: 0.85rem;
  color: #fff;
  margin-bottom: 5px;
}

.profile-sns-menu-title ul {
  list-style: none;
}

.profile-sns-menu-title-ul ul {
  display: list-item;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.profile-sns-menu-title-ul li {
  display: list-item;
  list-style: none;
  float: left;
}

.profile-sns-menu-title-ul li a {
  display: list-item;
  list-style: none;
  width: 34px;
  height: 32px;
  color: #fff;
  margin: 0 4px;
  font-size: 15px;
  overflow: hidden;
  text-decoration: none !important;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.18);
}