.header-box{
  background-color: #ffffff;
  padding-top: 10px;
}

.header-info{
  margin: 0px 223px;
  text-align: center;
  padding: 50px 0px;
}

.tn-logo-size{
  width: 300px;
  height: 50px;
  font-size: 240%!important;
}

.header-fontstyle{
 color: #9acc1e;
}